<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mostrar actividad</title>
  <!-- Font-awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
  <!-- Font Scheherazade -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <!--nuestro css-->
  <link rel="stylesheet" href="css/style4.css">
</head>

<body>
  <div class="container">+
    <nav class="nav-main">
      <img src="img/notas.png" alt="TechNews logo" class="nav-brand">
      <ul class="nav-menu">
        <li>
          <a href="#">Inicio</a>
        </li>
        <li>
          <a href="#">Detalles de actividad</a>
        </li>
        <li>
          <a href="#">Crear actividad</a>
        </li>
      </ul>
      <ul class="nav-menu-right">
        <!-- Aqui vamos a crear el icono-->
        <li>
          <a href="#">
            <i class="fas fa-search"></i>
          </a>
          <!--<a href="#">
              <i class="fas fa-users"></i> para mas tarde
            </a>-->
        </li>
      </ul>
    </nav>
    <hr>
  </div>
  <div class="btn-group" role="group" aria-label="Basic example">
    <button type="button" class="btn btn-primary">Left</button>
    <button type="button" class="btn btn-primary">Middle</button>
    <button type="button" class="btn btn-primary">Right</button><br>
    <textarea name="Descripcion" id="Descripcion" cols="44" rows="10" placeholder="Describe la Actividad"></textarea>
    <br>
    <label for="fecha">fecha de entrega</label>
    <input type="date"><br>
    <label for="subir">Adjuntar Archivo</label>
    <input type="file">
  </div>
</body>

</html>